<header>
  <h1>Click Login Buttion</h1>
</header>
<main>
  <form [formGroup]="loginForm">
    <label>User Name</label>
    <input
      type="text"
      name="username"
      formControlName="username"
      placeholder="User Name"
      value="admin"
    />
    <label>Password</label>
    <input
      textarea
      type="password"
      name="password"
      formControlName="password"
      placeholder="Password"
      value="password"
    >
    <button type="submit" (click)="login()">Login</button>
  </form>
</main>
