<header>
  <h1>Add a job posting</h1>
</header>
<main>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>User Name</label>
    <input
      type="text"
      name="username"
      formControlName="username"
      placeholder="User Name"
    />
    <label>Password</label>
    <textarea
      textarea
      type="password"
      name="password"
      formControlName="password"
      placeholder="Password"
    ></textarea>
    <button type="submit" (click)="login()">Login</button>

    <pre> {{ loginForm.value | json }}</pre>
  </form>
</main>
