header{
  width: 30%;
  margin: 60px auto;
}
form{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
label {
  font-size: 16px;
  margin: 16px 0 8px 0;
  font-weight: bold;
}
input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 400px;
  height: 24px;
}
button {
  margin: 32px auto;
  width: 64px;
  height: 32px;
}