<header>
  <h1>Add a job posting</h1>
  <span><a routerLink="/home">< return to the list</a></span>
</header>
<main>
  <form [formGroup]="addJobForm" (ngSubmit)="onSubmit()">
    <label>Job title</label>
    <input
      type="text"
      name="title"
      formControlName="title"
      placeholder="Job title"
    />
    <label>Position</label>
    <select id="position" name="position" formControlName="position">
      <option *ngFor="let position of positions" value="position.value">
        {{ position.name }}
      </option>
    </select>
    <label>Description</label>
    <textarea
      textarea
      type="text"
      name="description"
      formControlName="description"
      placeholder="Job description"
    ></textarea>
    <button type="submit">Submit</button>

    <pre> {{ addJobForm.value | json }}</pre>
  </form>
</main>
