.optBar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 48px 0;
  justify-content: space-between;
  align-items: center;
}

.listCtn {
 margin: 0 auto;
 width: 80%;
}

button {
  width: 64px;
  height: 32px;
  cursor: pointer;
}

li{
  list-style-type: none;
  margin-top: 24px;
}

li>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* border-radius: 5px;
  border: 1px solid gray; */
}

h3{
  margin: 0;
}

select {
  margin-left: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 120px;
  height: 24px;
}