<main>
  <!-- opt bar -->
  <div class="optBar">
    <div>
      <label>Choose a position</label>
      <select>
        <option *ngFor="let position of positions" [value]="position.value">
          {{ position.name }}
        </option>
      </select>
    </div>
    <button routerLink="/add">Add</button>
  </div>
  <!-- main list -->
  <div class="listCtn">
    <ul>
      <li *ngFor="let job of jobs">
        <div>
          <div>
            <span>{{ job.position }}</span>
            <h3>{{ job.title }}</h3>
            <p>{{ job.description }}</p>
          </div>
          <button [routerLink]="['/edit/', job.id]">Edit</button>
        </div>
      </li>
    </ul>
  </div>
</main>
