header{
  background-color:brown;
  color: white;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

header a{
  margin-left: 8px;
  color: white;
}

main {
  margin: 0 auto;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

label, form>span {
  font-size: 16px;
  margin: 16px 0 8px 0;
  font-weight: bold;
}

select {
  border-radius: 5px;
  border: 1px solid gray;
  width: 120px;
  height: 24px;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 400px;
  height: 24px;
}

textarea {
  border-radius: 5px;
  border: 1px solid gray;
  width: 400px;
  height: 180px;
}

form>div{
  margin: 32px auto;
}

button {
  width: 64px;
  height: 32px;
  margin: 0 16px;
}

.title{
  margin: 32px auto;
  width: 400px;
}
