<div class="title">
  <h1>Edit the job posting</h1>
  <span><a routerLink="/home">< return to the list</a></span>
</div>
<main>
  <form [formGroup]="editJobForm" (ngSubmit)="onSubmit()">
    <label>Job title</label>
    <input
      type="text"
      name="title"
      formControlName="title"
      placeholder="title"
    />
    <label>position</label>
    <select id="position" name="position" formControlName="position" (change)="onPositionChange($event)">
      <option *ngFor="let pos of positions" [value]="pos.value" [selected]="pos.value === positionValue"
      >
        {{ pos.name }}
      </option>
    </select>
    <label>Description</label>
    <textarea
      textarea
      type="text"
      name="description"
      placeholder="description"
      formControlName="description"
    ></textarea>
    <div>
      <button (click)="onDelete()">Delete</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</main>
