<header>
  <h1>Edit the job posting</h1>
  <span><a routerLink="/home">< return to the list</a></span>
</header>
<main>
  <form [formGroup]="editJobForm" (ngSubmit)="onSubmit()">
    <span *ngIf="jobs[0].id === 1">Job ID: {{ jobs[0].id }}</span>
    <label>Job title</label>
    <input
      type="text"
      name="title"
      formControlName="title"
      placeholder="Job title"
    />
    <label>position</label>
    <select id="position" name="position" formControlName="position">
      <option *ngFor="let position of positions" value="position.value">
        {{ position.name }}
      </option>
    </select>
    <label>Description</label>
    <textarea
      textarea
      type="text"
      name="description"
      formControlName="description"
      placeholder="Job description"
    ></textarea>
    <div>
      <button>Delete</button>
      <button type="submit">Submit</button>
    </div>

    <pre> {{ editJobForm.value | json }}</pre>
  </form>
</main>
